
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.card {
  margin-top: 1em;
  margin-bottom: 1.3em;
  min-height: 5em;
  padding: 1em;
  background-color: #fff;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.28);
  -webkit-box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.28);
  -moz-box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.28);
  -o-box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.28);
  -ms-box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.28);
}

.form-field {
  margin-bottom: 1.3em;
}
